#hiring
  %h1 Hey there!
  %h2 LuxHaven is hiring a contract designer for the next two months.
  .div
  .ps
    %p We're a passionate startup in the travel industry that just graduated from StartEngine, the largest incubator in LA. We're making a few changes in our product and need someone to come in and lead our design and user experience.

    %p We're looking for someone nearby (Westwood) who understands design isn't just about pretty pictures, and is willing to work with us on our product and really take our user experience to the next level.

    %p After our launch we'll want to bring someone on board full-time, so there is the possibility for that if we work well together.

    %p We're going to be paying a couple thousand for the duration of the contract, which will be from now until July 1st. The exact amount will be negotiable depening on how much equity you want (or don't want).

    %p Shoot me an email over at chris@luxhaven.co, along with your portfolio and what makes you awesome, if you're interested!