@import url('http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Roboto+Slab')

red   = hsl(360, 90%, 45%)
green = hsl(159, 73%, 41%)

placeholder-color(color)
  ::-webkit-input-placeholder
    color: color
  :-moz-placeholder
    color: color
  ::-moz-placeholder
    color: color
  :-ms-input-placeholder
    color: color

a
  text-decoration: none

button
  background: none
  border: none
  &.green
    color: white
    background-color: green
    padding: 6px 14px
    border-radius: 3px
    font: .9em proxima-nova
    hover-lighten: 3

html
  height: 100%

body
  margin 0
  height: 100%

.modal
  display: none
  border: thin solid hsl(0, 0%, 75%)
  width: 405px
  background-color: white
  .luxhaven
    margin: 40px auto
  .message
    text-align: center
    margin-top: 12px
    font: .9em proxima-nova
    a
      color: hsl(0, 0%, 65%)
      &:hover
        color: green
        cursor: pointer
  .auth-error
    visibility: hidden
    text-align: center
    color: red
    font: 1em proxima-nova
    margin-top: 16px
    height: 19px
  form
    button
      width: 100%
      border-radius: 0
      margin-top: 15px
      padding: 10px
      font-size: 1em
    .input
      width: 310px
      margin: 10px auto
      placeholder-color: hsl(0, 0%, 79%)
      input
        box-shadow: none
        border: thin solid hsl(0, 0%, 85%)
        color: hsl(0, 0%, 55%)
        font: .9em proxima-nova
        width: 100%
        box-sizing: border-box
        border-radius: 3px
        padding: 8px 12px
        font-weight: 600
  &#sign-in
    height: 325px
  &#sign-up
    height: 460px

.luxhaven
  overflow: auto
  width: 140px
  .name
    margin: 5px 0 0 40px
    font: 1.1em proxima-nova
    font-weight: 800
    color: hsl(0, 0%, 19%)
    text-transform: uppercase
  .logo
    float: left

header
  overflow: auto
  height: 80px
  background-color: white
  box-shadow: 0 -1px 8px black
  opacity: .95
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 1
  .pad
    margin: 25px 0 0 160px
    nav
      display: inline-block
      &.right, &.left
        margin-left: 50px
        a
          font: .9em proxima-nova
          color: hsl(0, 0%, 37%)
      &.left
        margin-left: 35px
        a
          margin-left: 25px
          font-weight: bold
          text-transform: uppercase
          &:hover
            color: green
      &.right
        margin-left: 160px
        a
          margin-left: 15px
          font-weight: 400
          &:hover
            border-bottom: thin solid green
        button
          margin-left: 20px

#home
  background: url(/images/home.jpg) no-repeat
  background-size: cover
  height: 800px
  margin-top: -80px
  z-index: 0
  position: relative
  .overlay-container
    position: absolute
    bottom: 80px
    width: 965px
    left: 50%
    .overlay
      position: relative
      left: -50%
      color: white
      font-family: proxima-nova
      .title
        width: 450px
        font: 2.5em adelle
        font-weight: bold
      .house-info
        float: right
        text-align: right
        border-right: 4px solid white
        padding-right: 15px
        line-height: 23px
        .name
          font-weight: 600
        .location
          color: hsl(360, 0.5%, 85%)
          font-weight: 300
          font-size: .9em
          text-transform: uppercase
      button
        margin-top: 25px
        font-size: 1em
        text-transform: uppercase
        padding: 10px 18px